# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Keystores (IMPORTANT)
*.jks
*.keystore

# Kotlin/Java compiled
*.class

# NDK
.cxx/

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
